
 
.best {
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 60px;
  display: flex;
  gap: 80px;
  align-items: center;
}



.best__left {
  max-width: 260px;
}

.best__title {
  font-size: 36px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.best__text {
  font-size: 16px;
  color: #8b8b8b;
  line-height: 1.6;
  margin-bottom: 30px;
}

.best__button {
  background-color: #cfe3e1;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.best__button span {
  font-size: 16px;
}

.best__right {
  display: flex;
  gap: 30px;
}

.card {
  width: 220px;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 16px;
}

.card__title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 6px;
}

.card__price {
  font-size: 14px;
  color: #8b8b8b;
}
