.main {
  margin-top: 40px;
  background-color: #C1DCDC;
  padding: 48px;
  border-radius: 24px;
  height: 512px;
  position: relative;
}

.box input,
button {
  background: none;
  border: none;
}

.box input {
  width: 380px;
  outline: none;
  padding: 18px;
  font-weight: 500;
  font-size: 18px;
  color: #1E1E1E80;
}

.box button {
  background-color: #C1DCDC;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.box {
  width: 449px;
  height: 64px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.main-l h1 {
  font-weight: 800;
  font-size: 64px;
  width: 512px;
  line-height: 100%;
}

.counts {
  display: flex;
  gap: 48px;
  margin-top: 24px;
}

.counts span {
  font-weight: 500;
  font-size: 32px;
}

.counts h5 {
  font-weight: 500;
  font-size: 18px;
}


.mainfon {
  position: absolute;
  bottom: -6px;
  right: 72px;
}

.mainplant {
  position: absolute;
  right: 56px;
  bottom: -6px;
}

.arrow1 {
  position: absolute;
  bottom: 90px;
  left: 522px;
}

.arrow2 {
  position: absolute;
  top: 13px;
  right: 20px;
}

.counts img {
  height: 64px;
}

.container {
  width: 1248px;
  margin: 0 auto;
}